#background{   
    /* background-size: auto; */
    background-color: black;
    height: 100vh;
    width: 100vw;
    top: 0%;
    /* background-image: url("/assets/background-stripes.svg") ; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 100%;
    background-position-y:190px;
}

object{
    width: 100vw;
}

/* div.pic{
    background: url(/assets/background-stripes.svg);
    background-repeat: no-repeat;
    background-position: center;
} */
#welcome{
    margin: 0;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stack{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 10px;
    padding: 3% 5%;
    border-color: grey;
}

p{
    display: block;
    text-align: center;
    color: white;
    /* line-height: 30vh; */
}

@media only screen and (min-width: 1001px){
    /* div.pic{
        background: url(/assets/background-stripes.svg);
        background-repeat: no-repeat;
        background-position: center;
    } */
    object{
        width: 100vw;
    }
}

@media only screen and (max-width: 1000px){
    
    div.pic{
        visibility: hidden;
    }

    object{
        width: 100vw;
    }
}
@media only screen and (max-width: 800px){
    div.pic{
        background: url(/assets/background-stripes.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (max-width: 700px){

    #background{
        background: url(/assets/background-stripes.svg);
        background-color: black;
        background-repeat: no-repeat;
        background-position: top;
    }
    object{
        display: none;
    }
    
}

@media only screen and (max-width: 400px){

    div.pic{
        background: url(/assets/background-stripes.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
