<nav class="navigation">

        <!-- hamburger menu -->
        <div class="{{ menuClass }}" (click)="checkOnClick()">
            <div class="menu-line"></div>
        </div>
        <!-- Nav bar items -->
        <div class="{{ menuBar }}">
            <div class="menu-item"><a routerLink="/"><span>HOME</span></a></div>
            <div class="menu-item"><a routerLink="/about">ABOUT</a></div>
            <div class="menu-item"><a routerLink="/skills">SKILLS</a></div>
            <div class="menu-item"><a routerLink="/portfolio">PORTFOLIO</a></div>
            <div class="menu-item"><a routerLink="/contact">CONTACT</a></div>
        </div>

</nav>
