<nav class="navigation">

        <!-- hamburger menu -->
        <div class="{{ menuClass }}" (click)="checkOnClick()">
            <div class="menu-line"></div>
        </div>
        <!-- Nav bar items -->
        <div class="{{ menuBar }}">
            <div class="menu-item"><a routerLink="/">HOME</a></div>
            <div class="menu-item"><a routerLink="/">ABOUT</a></div>
            <div class="menu-item"><a routerLink="/">SKILLS</a></div>
            <div class="menu-item"><a routerLink="/">PORTFOLIO</a></div>
            <div class="menu-item"><a routerLink="/">CONTACT</a></div>
        </div>

        <!-- <ul class="{{ strClass }}">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link" (click)="doCollapse()">HOME</a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link" (click)="doCollapse()">ABOUT</a>
            </li>
            <li class="nav-item">
                <a routerLink="/skills" class="nav-link" (click)="doCollapse()">SKILLS</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" class="nav-link" (click)="doCollapse()">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" class="nav-link" (click)="doCollapse()">CONTACT</a>
            </li>
        </ul> -->
</nav>
