/* Removed all default attributes from ancher tags
*
*/
a{
    all:unset;
}
/* Changed the font 
 * removed margins
 * removed padding
 * set text to upper case
*/
.navigation ul {
  font: bold 11px;
  font-family: 'Times New Roman', Times, serif; 
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* Putting all the nav items in a single line */
.navigation li {
  display: inline-block;
}
/* Align Nav bar to the left of the page */
.navigation {
    margin: 70px 0;
    max-width: 960px;
    background-color: #DB0101;
    float: right;
}