
/*********************************************
  start round nav button attributes 
*********************************************/
.nav-icon{
  display: grid;
  position: fixed;  
  top: 3%;
  right: 8%;
  margin: 50px 0;
  height: 60px;
  width: 60px;
  background-color:#DB0101;
  border-radius: 15%;
  float: right;
  place-items: center;
  z-index: 9999999;
  cursor: pointer;
}

.nav-toggle:checked ~ .navigation{
  transform: scaleX(1);
}

.nav-icon:hover ~ .navigation{
  transform: scaleX(1);
} 
.navigation ul.navbar-menu:hover{
  transform: scaleX(1);
}
 
/* #ntl:hover{
  transform: unset;
} */
.nav-toggle{
  display: none;
} 

/*********************************************
  end round nav button attributes 
*********************************************/


/*  
 * removed margins
 * set text to upper case
*/
.navigation ul {
  margin: 0;
  padding: 15px 70px;
  text-transform: uppercase;
}
/* Putting all the nav items in a single line */
.navigation li {
  display: inline-block;
}
/* Align Nav bar to the right of the page 
* 
*/
.navigation {
    position: fixed;  
    top:3%;
    right:10%;
    margin: 50px 0;
    max-width: 700px;
    background-color:rgba(46, 46, 46, 50%);
    float: right;

    /* animation */
    transition: transform 200ms ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}



.nav-icon .line{ 
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 20%;
}


/*used both to ensure it works on both chrome and safari*/
.nav-item:hover, a:hover{
  color: black;
}

.navbar-menu{
  display: flex;
  color: white;
}
/* Removed all default attributes from ancher tags
*  fixed spacing with padding
* set font to times and color to white
*/
a{
  all:unset;
  padding: 15px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; 
  color: white;
}

/* @media screen and (max-width:700px){

  nav{
    position: relative;
  }

  .navigation{
    transform: unset;
    top: 8%;
    right: 20%;

    transition: transform 200ms ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
  }
  .nav-toggle:checked ~ .navigation{
    transform: scaleY(1);
  }
 .nav-icon:hover ~ .navigation{
    
  } 

  .navbar-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);

    height: 30vh;
    width: 30%;
    
  }
  
   removes prior styling for horizontal menu 
  ul{
    display: none;
  }
  .navigation ul{
    margin: 0;
    padding: 5px;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }
}*/

@media screen and (max-width:700px){
  .navigation{
    display: none;
  }
  
  .nav-toggle:checked ~ .navigation-small{
    transform: scaleY(1);
  }
/*  
 * removed margins
 * set text to upper case
*/
    .navigation-small ul {
      margin: 0;
      padding: 15px 70px;
    }
    /* Putting all the nav items in a single line */
    .navigation-small li {
      display: inline-block;
    }
    /* Align Nav bar to the right of the page 
    * 
    */
    .navigation-small {
        position: fixed;  
        top:15%;
        right:14%;
        margin:0;
        max-width:200px;
        background-color:rgba(46, 46, 46, 50%);

        /* animation */
        transition: transform 200ms ease-in-out;
        transform-origin: right;
        transform: scaleX(0);
    }

    .navbar-menu{
      display: grid;
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5,1fr);
      height: 30vh;
      width: 30%;
    }

    .navigation-small ul{
      margin: 0;
      padding: 5px;
      text-align: center;
      width: fit-content;
      height: fit-content;
    }
}
