*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* .menu-btn-wrapper{
  display: block;
  position: fixed;
  top: 20%;
  right: 30%;
  width: fit-content;
  height: fit-content;
  /* z-index: 9999999999; 
} */

.menu-btn{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  top: 10%;
  right: 10%;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  background-color: red;
  border-radius: 10px;
}

.menu-line{
  width: 35px;
  height: 4px;
  background: white;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.menu-line::before,
.menu-line::after{
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background: white;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.menu-line::before{
  transform: translateY(-16px);
}

.menu-line::after{
  transform: translateY(16px);
}

.menu-btn.open .menu-line{
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-line::before{
  transform: rotate(45deg) translate(35px,-35px);
}

.menu-btn.open .menu-line::after{
  transform: rotate(-45deg) translate(35px,35px);
}